.passage-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.passage-container-center {
  width: 50%;
  height: 100%;
  display: flex;
}

.passage-container-center-left {
  width: 80%;
  height: 100%;
  min-width: 300px;
  border-right: solid rgba(0, 0, 0, 0.05);
}

.passage-container-center-left-content {
  padding: 30px 30px 0 30px;
}

.article-container {
  height: 280px;
  border-bottom: solid rgba(0, 0, 0, 0.08);
  padding: 20px 0;
}

.article-main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.article-main-word {
  width: 100%;
  height: 100%;
}

.article-main-title {
  font-size: 30px;
  font-weight: 600;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-bottom: 20px;
  min-width: 100px;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
}

.article-main-body {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 24px;
}

.article-main-img {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  margin-left: 20px;
}

.article-container-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.article-container-bottom-left {
  display: flex;
  width: 100%;
  align-items: center;
}
.article-container-tag {
  position: relative;
  width: 80px;
  border-radius: 20px;
  height: 27px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  z-index: 1;
}
.article-container-tag::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(228, 184, 202);
}

.article-container-time {
  font-size: 15px;
  margin-left: 20px;
  width: 90px;
  min-width: 90px;
}
.article-container-bottom-like {
  margin-left: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.passage-container-center-right {
  width: 30%;
  height: 100%;
  min-width: 200px;
}

.passage-container-center-right-content {
  padding: 40px;
}

.passage-right-sort {
  height: 200px;
}

.passage-right-title {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
  min-width: 44px;
}

.navbar-search {
  width: 50px;
  position: relative;
  /* display: flex; */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.navbar-search-input {
  padding-left: 30px;
  height: 30px;
  width: 160px;
  outline: none;
  border: none;
  background-color: rgb(161, 208, 230);
  color: white;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
}

.search-svg {
  left: 3px;
  position: absolute;
  color: white;
}

.passage-right-li {
  margin-top: 17px;
  font-size: 17px;
  width: 90px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}

.passage-right-li::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: rgb(228, 184, 202);
}

.passage-right-topic {
  height: 300px;
}

.edit {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(72, 139, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.edit:hover {
  background-color: rgba(26, 110, 216, 1);
}

@media (max-width: 1000px) {
  .passage-container-center {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .passage-container-center-right {
    order: -1;
    width: 100%;
  }
  .passage-container-center-left {
    width: 100%;
  }
  .passage-container-center-right-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 40px;
  }
  .navbar-search {
    width: 100%;
  }
  .navbar-search-input {
    width: 90%;
  }
  .passage-right-sort,
  .passage-right-topic {
    display: flex;
    height: 50px;
    align-items: center;
    margin-top: 10px;
  }
  .passage-right-li {
    margin-top: 0;
    margin-left: 20px;
  }

  .passage-right-topic-container {
    display: flex;
    flex-wrap: wrap;
  }
}
